/* ================== tablet & phone===========================*/
@media screen and (width >992px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (width <= 992px) {
  .body-header > .muc-dau {
    display: none;
  }

  .body-header {
    flex-direction: column;
    margin-bottom: 8px;
  }

  .search {
    width: 90%;
  }

  .fa-bars {
    font-size: 35px;
  }

  .overlay {
    inset: 0; /*set phần tử sau khi đã được lôi ra khỏi luồng thông thường cách tất cả các hướng 0px */
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed; /*luôn được hiển thị so với khung hình, không bị cuộn trang */
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .menu-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-drawer {
    position: fixed;
    background: rgb(6, 214, 160);
    background: linear-gradient(
      0deg,
      rgba(6, 214, 160, 1) 0%,
      rgba(59, 247, 198, 1) 100%
    );
    inset: 0px 0px 0px 60%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease, border-top-left-radius 0.5s ease 0.1s,
      border-bottom-left-radius 0.5s ease 0.1s;
  }

  .menu-drawer--align {
    display: flex;
    justify-content: center;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
  }

  .fa-circle-xmark {    /* phím Lùi lại*/
    font-size: 35px;
    padding: 8px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: end;
    transition: color 0.15s ease;
  }

  .fa-circle-xmark:hover {
    color: #fff;
  }

  .muc-dau {
    display: block;
    width: 100%;
  }

  .muc-dau__item {
    display: block;
    text-align: center;
    padding: 10px 10px 4px 10px;
    margin: 6px 0;
    font-size: 35px;
    border-bottom: 2px solid #151c25;
  }

  

  .login__list {
    position: static;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    box-shadow: none;
    background-color: unset;
  }

  .login {
    display: block;
  }

  .login--visible,
  .header .fa-cart-shopping,
  .fa-phone {
    display: none;
  }

  .login__item {
    padding: 0;
  }
}
