.list--product {
    background-color: #fff;
    /* display: grid; */
}

.product--item {
    width: 23%;
    height: 350px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__img {
    object-fit: cover;
    width: 90%;
    height: 60%;
    margin-top: 10px;
}

.product--content {
    width: 90%;
    margin-top: 10px;
}

.product--price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product--price {
    display: flex;
    flex-direction: column;
}