.product {
    background-color: #ddd;
    border-radius: 20px;
}

.product__heading {
    padding: 20px 0 0 10px;
    margin-top: 48px;
    font-family: Sen;
    font-weight: 700;
    font-size: 40px;
}

.list--product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product--item {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    width: 280px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.product__img {
    object-fit: cover;
    width: 90%;
    height: 58%;
    transition: transform 0.3s ease;
}

.product__img:hover {
    transform: scale(1.1);
}

.product--content {
    margin-top: 10px;
}

.product--price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product--price {
    display: flex;
    flex-direction: column;
}

.product__name{
    font-weight: 500;
}

.product__rating {
    font-size: 12px;
    margin-top: 5px;
}

.product__rating svg {
    fill: #f59e0b;
}
 
.product__cart__origin {
    margin-top: 5px;
    text-decoration-line: line-through;
    color: #797979;
    font-size: 15px;
}

.product__new {
    margin-top: 5px;
    color: red;
    font-weight: 600;

}

.product--price-cart {
    /* display: inline-flex; */
    align-items: center;
}

.product__cart {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.product__cart:hover {
    transform: scale(1.1);
}

