/* =============================Phân trang================================== */

/* Container của slideshow */
.container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

/* Ẩn các radio buttons */
input[type="radio"] {
  /* display: none; */
  display: inline-flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
  padding: auto;
   
}
/* Các slide */
.product {
  display: none;
  position: absolute;
  width: 100%;
}

/* Hiển thị slide được chọn */
#slide1:checked ~ .product#s1,
#slide2:checked ~ .product#s2 {
  display: block;
}

/* Điều hướng bằng các chấm */
.navigation {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.nav-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: auto 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-bottom: auto;
}

/* Chấm được chọn */
input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"] {
  background-color: #0b0b0b;
}
