/*=====THUỘC TÍNH CHUNG=====*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #06d6a0;
}

a {
  color: #151c25;
}
.header .main-content {
  width: 1200px;
  /* width: ; */
  margin: 0px auto;
}

.logo img {
  height: 80px;
}

.body-header {
  display: flex;
  /* background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
  background-color: #06d6a0;
  align-items: center;
  padding-top: 14px;
}

.muc-dau {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.fa-phone {
  padding-right: 4px;
}
.muc-dau a {
  /* background-color: rgba(241, 243, 247, 0.935); */
  padding: 10px;
  /* height: 80px; */
  width: 160px;
  color: #151c25;
  transition: text-shadow 0.3s ease, background-color 0.3s ease;
  text-align: center;
  /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3); */
}

.muc-dau a:hover {
    color: #3D3D3D ;
    color: #ffd154;
    text-shadow: 1px 0px 0px rgb(255, 255, 255);
    background-color: rgba(14, 14, 15, 0.4);

} */

.muc-dau a:hover {
  color: #ffffff;
}

.muc-dau .thong-tin-lien-he {
  display: flex;
}

.search {
  width: 400px;
  display: flex;
  align-items: center;
  min-width: 200px;
}

.search input {
  width: 100%;
  border: 1px solid #151c25;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.search button {
  position: relative;
  right: 34px;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.search button:hover {
  background-color: #151c25;
  color: #ffffff;
}

.login {
  display: flex;
  position: relative;
}

.fa-angle-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.login ul {
  /* display: none; */
  position: absolute;
  top: 40px;
  background-color: #06d6a0;
  border-radius: 10px;
  width: 146px;
  min-width: 146px;
  line-height: 28px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.418);
}

.login:hover ul {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.login:hover .fa-angle-down {
  transform: rotate(0deg);
}

.login li {
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  border-radius: 10px;
  margin: 8px;
}

.fixed {
  position: sticky;
  top: -18px;
}

/* =================================== header nav ========================================================= */

.header--nav-list {
  display: flex;
  justify-content: center;
}

.header--nav > ul > li {
  padding: 10px;
}

.header .nav {
  background-color: #ffffff;
}
.Laptop {
  width: 500px;
  margin: 0 auto;
  font-size: 30px;
}
.Laptop button {
  background-color: green;
  font-size: 30px;
}
.Laptop img
{
  width: 300px;
}
.Laptop button:hover {
  font-style: oblique;
  background-color: rgb(153, 200, 145);
}
.Laptop
{
  font-size: 30px;
  display: flex;
  flex-direction: column;
 align-items: center;

  
}


