/*==============================================THUỘC TÍNH CHUNG===============================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.header {
  background-color: #06d6a0;
}

a {
  color: #151c25;
}

.main-content {
  width: 1200px;
  max-width: calc(100% - 20px);
  margin: 0px auto;
}

.logo img {
  height: 80px;
}

.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.muc-dau {
  display: flex;
  align-items: center;
}

.muc-dau__item {
  padding: 10px;
  color: #151c25;
  transition: color 0.15s ease;
}

.muc-dau__item:hover {
  color: #fff;
}

.search {
  width: 400px;
  display: flex;
  align-items: center;
  min-width: 200px;
}

.search input {
  width: 100%;
  border: 1px solid #151c25;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.search button {
  position: relative;
  right: 34px;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.search button:hover {
  background-color: #151c25;
  color: #fff;
}

.login {
  display: flex;
  position: relative;
}
.register {
  display: flex;
  position: relative;
}
.fa-angle-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.login__list {
  position: absolute;
  top: 40px;
  background-color: #06d6a0;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.418);
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.login:hover .fa-angle-down {
  transform: rotate(0deg);
}

.login:hover .login__list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.login__item {
  padding: 12px;
}
.register ul {
  /* display: none; */
  position: absolute;
  top: 40px;
  background-color: #06d6a0;
  border-radius: 10px;
  width: 146px;
  min-width: 146px;
  line-height: 28px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.418);
}

.register:hover ul {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.register:hover .fa-angle-down {
  transform: rotate(0deg);
}

.register li {
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  border-radius: 10px;
  margin: 8px;
}
.fixed {
  position: sticky;
  top: -18px;
  z-index: 1;
}

/* =================================== header nav ========================================================= */

.header--nav-list {
  display: flex;
  justify-content: space-between;
}

.header .nav {
  background-color: #f4f4f4;
}
/* =======================================Trang Linh Kiện================================================= */
.Asus img {
  width: 150px;
}
.Asus {
  margin: 30 auto;
}
.list {
  display: flex;
}

.Acer img {
  width: 150px;
}
/* Khoảng cách giữa các item */
.item {
  margin: 2%;
}
.Macbook img {
  width: 150px;
}
.item {
  background-color: gainsboro;
}
.item div :hover {
  font-weight: bolder;
}
.Lenovo img {
  width: 150px;
}
/* ======================================Giỏ hàng====================================== */
.nut {
  display: flex;
  margin: 0 auto;
}
.button {
  /* display: inline-block; */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #1764a7; /* Màu nền của button */
  text-align: center;
  text-decoration: none; /* Loại bỏ gạch chân của thẻ a */
  border-radius: 5px; /* Bo góc của button */
  margin: 0 auto;
}
.button:hover {
  background-color: #0e4779;
  color: white;
}
/* icon giỏ hàng */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  font-size: 300px;
  color: #4a4848;
}
/* Hiện không có sản phẩm nào trong giỏ hàng */
.ghichu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #504d4d;
  display: flex;
  margin: 0 auto;
}

.header--nav-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.header--nav-list a:hover {
  background-color: #151c25;
  color: #fff;
}

/* ========================================= MAIN ADV===================================== */
.huge-advertisement--img {
  margin-top: 16px;
  border-radius: 10px;
  width: 100%;
}

.Laptop {
  width: 500px;
  margin: 0 auto;
  font-size: 30px;
}

.Laptop button {
  background-color: green;
  font-size: 30px;
}

.Laptop img {
  width: 300px;
}

.Laptop button:hover {
  font-style: oblique;
  background-color: rgb(153, 200, 145);
}

.Laptop {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

